

    <div class="options_panel">
        <div class="option"><div class="option_link"><img src="images/Dusseldorf_icons/16x16_white/plus.png" align="left" />&nbsp;<span>Dodaj składkę</span></div></div>
    </div>


<div id="budget_page" style="width: 100%; margin: 12px auto;">
            <div style="font-size: 16px;">
                <span style="position: relative; left: 12px; color: #7dbadf;">Aktualnie prowadzone zbiórki pieniędzy</span><br/>
            </div>
            <div style="background-color: #2B0135; margin-left: 12px; margin-top: 12px; float: left; width: 31%;">
                <span style="color: #26dc26; margin: 4px; font-size: 13px;">ZAPŁACONE</span>
                <span style="float: right; position: relative; top: -12px; left: 6px; width: 38px; height: 38px; background: url(images/Dusseldorf_icons/notify.png) no-repeat -4px -8px transparent;"></span>
                <p style="color: #FFFFFF; font-size: 12px; margin: 4px 12px; text-align: center;">
                    <span style="font-size: 24px; color: #7dbadf;">14,50zł</span><br/><span style="font-size: 16px;">Zakup książek do ćwiczeń w klasach I-III</span>
                </p>
                <p style="color: #FFFFFF; font-size: 12px; margin: 24px 12px; text-align: left;">
                    W dniach <b>2012-02-13</b> - <b>2012-04-15</b> prowadzona jest zbiórka pieniędzy na zakup książek do ćwiczeń dla najmłodszych.<br/><br/>Skarbnik składki:<br/><b>Zbenek Smetanina</b>
                </p>
            </div>
            <div style="background-color: #2B0135; margin-left: 12px; margin-top: 12px; float: left; width: 31%;">
                <span style="color: #f31717; margin: 4px; font-size: 13px;">ZALEGAM</span>
                <span style="float: right; position: relative; top: -12px; left: 6px; width: 38px; height: 38px; background: url(images/Dusseldorf_icons/notify.png) no-repeat -96px -8px transparent;" /></span>
                <p style="color: #FFFFFF; font-size: 12px; margin: 4px 12px; text-align: center;">
                    <span style="font-size: 24px; color: #7dbadf;">7,20zł</span><br/><span style="font-size: 16px;">Walentynki 2013</span>
                </p>
                <p style="color: #FFFFFF; font-size: 12px; margin: 24px 12px; text-align: left;">
                    W dniach <b>2012-02-13</b> - <b>2012-04-15</b> prowadzona jest zbiórka pieniędzy na prezenty dla dziewczynek na Walentynki 2013.<br/><br/>Skarbnik składki:<br/><b>Zbenek Smetanina</b>
                </p>
            </div>
            <div style="background-color: #2B0135; margin-left: 12px; margin-top: 12px; float: left; width: 31%;">
                <span style="color: #f31717; margin: 4px; font-size: 13px;">ZALEGAM</span>
                <span style="float: right; position: relative; top: -12px; left: 6px; width: 38px; height: 38px; background: url(images/Dusseldorf_icons/notify.png) no-repeat -96px -8px transparent;"></span>
                <p style="color: #FFFFFF; font-size: 12px; margin: 4px 12px; text-align: center;">
                    <span style="font-size: 24px; color: #7dbadf;">420zł</span><br/><span style="font-size: 16px;">Wycieczka do Zakopanego</span>
                </p>
                <p style="color: #FFFFFF; font-size: 12px; margin: 24px 12px; text-align: left;">
                    W dniach <b>2012-02-13</b> - <b>2012-04-15</b> prowadzona jest zbiórka pieniędzy na wyjazd na zimowisko do Zakopanego.<br/><br/>Skarbnik składki:<br/><b>Zbenek Smetanina</b>
                </p>
            </div>
        </div>
    </div>
</div>



<!--    <div id="budget_list">
        <div class="budget_position" ng-repeat="fee in fees | startFrom:currentPage*pageSize | limitTo:pageSize">
            {{fee}}
        </div>
    </div>
    <button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1"> << </button>
    &nbsp;{{currentPage+1}}/{{numPages()}}&nbsp;
    <button ng-disabled="currentPage >= numPages()-1" ng-click="currentPage=currentPage+1"> >> </button>
-->
