
<div id="homepage" style="float: left; width: 100%; margin: 12px;">

    <div class="homepage_left" style="float: left; width: 46%;">
        <div style="height: 120px; background-color: #2B0135; font-size: 24px;"><span style="position: relative; top: 12px; left: 24px;">Jesteś Rodzicem?</span><br/><input type="button" value="Dopisz dzieci" class="green2" style="color: #ffffff; padding: 4px 8px; font-size: 16px; border: 1px solid #ffffff; border-radius: 2px; margin: 24px;" /></div>
        <div>
            <div style="height: 80px; background-color: #2B0135; margin-top: 12px;">
                <div style="position: relative; top: 8px; left: 12px; float: left;"><img src="images/avatar.png" width="60" align="left" /></div>
                <div style="position: relative; top: 8px; left: 24px; float: left;"><span style="font-size: 16px; color: #7DBADF;">Mariusz Wróbel</span><br/>Teraz w szkole: <b>Matematyka</b></div>
            </div>
            <div style="height: 80px; background-color: #2B0135; margin-top: 12px;">
                <div style="position: relative; top: 8px; left: 12px; float: left;"><img src="images/avatar.png" width="60" align="left" /></div>
                <div style="position: relative; top: 8px; left: 24px; float: left;"><span style="font-size: 16px; color: #7DBADF;">Kazik Staszewski</span><br/>Teraz w szkole: <b>Muzyka</b></div>
            </div>
        </div>
        <div style="float: left; width: 100%;">
            <div style="height: 180px; background-color: #2B0135; margin-top: 12px; float: left; width: 40%;">
                <div>
                    <span style="font-size: 16px; color: #7DBADF; margin: 12px; position: relative; top: 4px;">Najbliższe wydarzenie</span>
                    <div style="margin-top: 18px; text-align: center;"><span style="font-size: 20px; color: #ffffff;">24.12.2012</span><br/>
                        <p>Wigilia szkolna w klasie Ia, w sali 15 na parterze. O godzinie 17:00</p>
                    </div>
                </div>
            </div>
            <div style="height: 180px; background-color: #2B0135; margin-top: 12px; float: right; width: 57%;">
                <div>
                    <span style="font-size: 16px; color: #7DBADF; margin: 12px; position: relative; top: 4px;">Aktualna ankieta</span>
                    <div style="margin-left: 12px; margin-top: 6px;"><span style="">Czy lubisz zimę?</span><br/><br/>
                        <div style="float: left; position: relative; top: 7px; left: 2px; font-size: 13px;">Tak&nbsp;</div><div class="green2" style="width: 110px; height: 20px; margin-top: 6px;"></div>
                        <div style="float: left; position: relative; top: 7px; left: 2px; font-size: 13px;">Nie&nbsp;</div><div class="lightblue2" style="width: 60px; height: 20px; margin-top: 6px;"></div>
                        <div style="float: left; position: relative; top: 7px; left: 2px; font-size: 13px;">Może tak a może nie&nbsp;</div><div class="violet" style="width: 140px; height: 20px; margin-top: 6px;"></div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>

    <div class="homepage_right" style="margin-left: 12px; float: left; width: 46%;">
        <div style="height: 120px; background-color: #2B0135; font-size: 24px;"><span style="position: relative; top: 12px; left: 24px;">Jesteś Nauczycielem?</span><br/><input type="button" value="Dołącz do swojej szkoły" class="orange2" style="color: #ffffff;; padding: 4px 8px; font-size: 16px; border: 1px solid #ffffff; border-radius: 2px; margin: 24px;" /></div>
        <div style="background-color: #2B0135; float: left; margin-top: 12px;">
            <p style="font-size: 16px; color: #7DBADF; position: relative; top: -12px; left: 12px;">Ostatnie komentarze</p>
            <div style="margin-left: 12px; margin-bottom: 12px; position: relative; top: -12px;">
                <p><img src="images/avatar.png" width="32" align="left" /><span style="margin-left: 8px; font-size: 12px; color: #7DBADF;">Mariusz Wróbel</span> > <span style="font-size: 12px; color: #7DBADF;">Zimowa wycieczka szkolna</span></p>
                <p style="margin-left: 40px; position: relative; top: -12px;">Myślę, że trzeba jechać. Taka okazja może się już nie trafić. Myślę, że trzeba jechać. Taka okazja może się już nie trafić. Myślę, że trzeba jechać. Taka okazja może się już nie trafić. Myślę, że trzeba jechać. Taka okazja może się już nie trafić. Myślę, że trzeba jechać. Taka okazja może się już nie trafić. Myślę, że trzeba jechać. Taka okazja może się już nie trafić. </p>
            </div>
            <div style="margin-left: 12px; margin-bottom: 12px; position: relative; top: -12px;">
                <p><img src="images/avatar.png" width="32" align="left" /><span style="margin-left: 8px; font-size: 12px; color: #7DBADF;">Mariusz Wróbel</span> > <span style="font-size: 12px; color: #7DBADF;">Składki na Radę Rodziców</span></p>
                <p style="margin-left: 40px; position: relative; top: -12px;">Drogo. Nie stać mnie na taką kwotę w tym miesiącu.</p>
            </div>
            <div style="margin-left: 12px; margin-bottom: 12px; position: relative; top: -12px;">
                <p><img src="images/avatar.png" width="32" align="left" /><span style="margin-left: 8px; font-size: 12px; color: #7DBADF;">Mariusz Wróbel</span> > <span style="font-size: 12px; color: #7DBADF;">Zimowa wycieczka szkolna</span></p>
                <p style="margin-left: 40px; position: relative; top: -12px;">To jak? Jedziemy?</p>
            </div>
        </div>
        <div style="background-color: #2B0135; margin: 12px 0; height: 100px; float: left; width: 100%;">
            <p style="font-size: 16px; color: #7DBADF; position: relative; top: -12px; left: 12px;">Moi znajomi online</p>
            <p style="position: relative; top: -12px; left: 12px;">
                <img src="images/avatar.png" width="32" align="left" style="margin-right: 12px;" />
                <img src="images/avatar.png" width="32" align="left" style="margin-right: 12px;" />
                <img src="images/avatar.png" width="32" align="left" style="margin-right: 12px;" />
                <img src="images/avatar.png" width="32" align="left" style="margin-right: 12px;" />
            </p>
        </div>
    
    </div>

</div>

















