
    <div class="options_panel">
        <div class="option"><img src="images/Dusseldorf_icons/16x16_white/plus.png" align="left" onclick="$('#hidden_forms_kids').slideToggle();" />&nbsp;Przypisz do klasy</div>
    </div>
    

    <div class="kid_school_left">
        <div class="school_info">
            <span class="school_info_title">Szkoła Podstawowa nr 141 im. Mjr Henryka Sucharskiego</span><br/><br/>
            <span>klasa: <b class="font14">IIIa</b></span><br/><br/>
            <span>rok: <b>2012/2013</b></span><br/>
            <span>wychowawca: <b>Pani Ziętek</b></span><br/><br/>
            <span>kierunek: <b>biologiczno-chemiczny</b></span><br/>
            
        </div>
        <div class="kid_school_teachers_content">
            <div class="kid_school_teachers_content_block">
            <span>Nauczyciele</span><br/>
            <div class="kid_school_teacher_name" title="Mariuszowski Wróbelowskiewicz - W-F">
                <img src="/images/avatar.png" width="36" align="left" />
            </div>
            <div class="kid_school_teacher_name" title="Mariusz Wróbel - Chemia">
                <img src="/images/avatar.png" width="36" align="left" />
            </div>
            <div class="kid_school_teacher_name" title="Mariusz Wróbel - Fizyka">
                <img src="/images/avatar.png" width="36" align="left" />
            </div>
            <div class="kid_school_teacher_name" title="Mariusz Wróbel - Biologia">
                <img src="/images/avatar.png" width="36" align="left" />
            </div>
            <div class="kid_school_teacher_name" title="Mariusz Wróbel - Plastyka">
                <img src="/images/avatar.png" width="36" align="left" />
            </div>
            <div class="kid_school_teacher_name" title="Mariusz Wróbel - Fizyka">
                <img src="/images/avatar.png" width="36" align="left" />
            </div>
            <div class="kid_school_teacher_name" title="Mariusz Wróbel - Biologia">
                <img src="/images/avatar.png" width="36" align="left" />
            </div>
            <div class="kid_school_teacher_name" title="Mariusz Wróbel - Plastyka">
                <img src="/images/avatar.png" width="36" align="left" />
            </div>
            </div>
            <div class="kid_school_teachers_content_block"><br/>
            <span>Nauczyciele niepotwierdzeni</span><br/>
            <div class="kid_school_teacher_name" title="Mariusz Wróbel - Muzyka">
                <img src="/images/avatar.png" width="36" align="left" />
            </div>
            <div class="kid_school_teacher_name" title="Mariusz Wróbel - Język polski">
                <img src="/images/avatar.png" width="36" align="left" />
            </div>
            <div class="kid_school_teacher_name" title="Mariusz Wróbel - Geografia">
                <img src="/images/avatar.png" width="36" align="left" />
            </div>
            <div class="kid_school_teacher_name" title="Mariusz Wróbel - Historia">
                <img src="/images/avatar.png" width="36" align="left" />
            </div>
            <div class="kid_school_teacher_name" title="Mariusz Wróbel - Matematyka">
                <img src="/images/avatar.png" width="36" align="left" />
            </div>
            </div>
            <!--<div style="width: 236px; text-align: right; position: relative; top: 12px;"><a ng-click="setRoute('teachers')">Pokaż wszystkich</a></div>-->
        </div>
    </div>
    <div class="kid_school_right">
        <div class="kid_school_students_title">
            <span>Lista uczniów w klasie: <b>IIIa</b></span>
        </div>
        <div class="student_box">
            <div><img src="images/Metro_Icons/Folders_OS/Personal_80x80.png" width="36" align="left" /><span>Jan Kowalski</span></div>
        </div>
        <div class="student_box">
            <div><img src="images/Metro_Icons/Folders_OS/Personal_80x80.png" width="36" align="left" /><span>Jan Kowalski</span></div>
        </div>
        <div class="student_box">
            <div><img src="images/Metro_Icons/Folders_OS/Personal_80x80.png" width="36" align="left" /><span>Jan Kowalski</span></div>
        </div>
        <div class="student_box">
            <div><img src="images/Metro_Icons/Folders_OS/Personal_80x80.png" width="36" align="left" /><span>Jan Kowalski</span></div>
        </div>
        <div class="student_box">
            <div><img src="images/Metro_Icons/Folders_OS/Personal_80x80.png" width="36" align="left" /><span>Jan Kowalski</span></div>
        </div>
        <div class="student_box">
            <div><img src="images/Metro_Icons/Folders_OS/Personal_80x80.png" width="36" align="left" /><span>Jan Kowalski</span></div>
        </div>
        <div class="student_box">
            <div><img src="images/Metro_Icons/Folders_OS/Personal_80x80.png" width="36" align="left" /><span>Jan Kowalski</span></div>
        </div>
        <div class="student_box">
            <div><img src="images/Metro_Icons/Folders_OS/Personal_80x80.png" width="36" align="left" /><span>Jan Kowalski</span></div>
        </div>
   </div>






