

<div class="kid_comments_top_box">
    <img src="/images/avatar.png" align="left" />
    <span>&nbsp;&nbsp;Mariusz Wróbel<br/>&nbsp;&nbsp;klasa: <b>Ia</b></span>
</div>

<div class="comments_page_title">
    <span>Komentarze nauczycieli</span><br/>
</div>
            
<div class="kids_comments">   
    <div class="kids_comment">         
                    <div class="news_avatar"><img src="/images/avatar.png" align="left" /><span class="kids_comment_teacher">&nbsp;&nbsp;Jan Ptaszkowski / Biologia</span></div>
                    <h3>13 listopada, 9:27</h3>
                    <p>
                        Uczeń nie uważa na lekcjach. Wierci się i rozmawia z kolegą z ławki. Będę zmuszony postawić mu ocenę nieodpowiednią z zachowania, jeśli to się nie zmieni.
                    </p>
                    <div class="link_like" onclick="$('#news_comments_block_1').slideToggle();">więcej &raquo;</div>
                    <div class="news_comments_block" id="news_comments_block_1" style="display: none;">
                        <div class="news_comment">
                            <div class="news_comment_avatar"><img src="/images/avatar.png" align="left" /><span>&nbsp;&nbsp;Mariusz Wróbel</span></div>
                            <div class="news_comment_date">60 minut temu</div>
                            <div class="news_comment_text"><br class="clear"><span>Rozumiem, porozmawiam z nim w domu.</span></div>
                        </div>
                        <div class="news_comment">
                            <div class="news_comment_avatar"><img src="/images/avatar.png" align="left" /><span>&nbsp;&nbsp;Jan Ptaszkowski</span></div>
                            <div class="news_comment_date">16 minut temu</div>
                            <div class="news_comment_text"><br class="clear"><span>Dobrze, proszę tak uczynić. Będę oczekiwał rezultatów już na następnej lekcji.</span></div>
                        </div>
                        <div class="news_comment">
                            <div class="news_comment_avatar"><img src="/images/avatar.png" align="left" /><span>&nbsp;&nbsp;Mariusz Wróbel</span></div>
                            <div class="news_comment_date">6 minut temu</div>
                            <div class="news_comment_text"><br class="clear"><span>Ok, kumam.</span></div>
                        </div>
                        <div class="news_comment">
                            <div class="news_comment_avatar"><img src="/images/avatar.png" align="left" /><span>&nbsp;&nbsp;Mariusz Wróbel</span></div>
                            <div class="news_comment_date">&nbsp;</div>
                            <div class="news_comment_text"><br class="clear"><span><input type="text" class="input_text" name="f_comment" id="f_comment" value="Skomentuj..." /></span></div>
                        </div>
                    </div>
    </div>
    <br class="clear"/>

    <div class="kids_comment" style="background-color: #2A013B; padding: 12px;">         
                    <div class="news_avatar"><img src="/images/avatar.png" align="left" /><span style="color: #7dbadf;">&nbsp;&nbsp;Jan Ptaszkowski / Biologia</span></div>
                    <h3>13 listopada, 9:27</h3>
                    <p>
                        Uczeń nie uważa na lekcjach. Wierci się i rozmawia z kolegą z ławki. Będę zmuszony postawić mu ocenę nieodpowiednią z zachowania, jeśli to się nie zmieni.
                    </p>
                    <div class="link_like" onclick="$('#news_comments_block_2').slideToggle();">więcej &raquo;</div>
                    <div class="news_comments_block" id="news_comments_block_2" style="display: none;">
                        <div class="news_comment">
                            <div class="news_comment_avatar"><img src="/images/avatar.png" align="left" /><span>&nbsp;&nbsp;Mariusz Wróbel</span></div>
                            <div class="news_comment_date">60 minut temu</div>
                            <div class="news_comment_text"><br class="clear"><span>Rozumiem, porozmawiam z nim w domu.</span></div>
                        </div>
                        <div class="news_comment">
                            <div class="news_comment_avatar"><img src="/images/avatar.png" align="left" /><span>&nbsp;&nbsp;Jan Ptaszkowski</span></div>
                            <div class="news_comment_date">16 minut temu</div>
                            <div class="news_comment_text"><br class="clear"><span>Dobrze, proszę tak uczynić. Będę oczekiwał rezultatów już na następnej lekcji.</span></div>
                        </div>
                        <div class="news_comment">
                            <div class="news_comment_avatar"><img src="/images/avatar.png" align="left" /><span>&nbsp;&nbsp;Mariusz Wróbel</span></div>
                            <div class="news_comment_date">6 minut temu</div>
                            <div class="news_comment_text"><br class="clear"><span>Ok, kumam.</span></div>
                        </div>
                        <div class="news_comment">
                            <div class="news_comment_avatar"><img src="/images/avatar.png" align="left" /><span>&nbsp;&nbsp;Mariusz Wróbel</span></div>
                            <div class="news_comment_date">&nbsp;</div>
                            <div class="news_comment_text"><br class="clear"><span><input type="text" class="input_text" name="f_comment" id="f_comment" value="Skomentuj..." /></span></div>
                        </div>
                    </div>
    </div>
    <br class="clear"/>


</div>



