<div ng-controller="AuthCtrl" id="login_wrapper_outside">
    <div id="login_logo"><div class="l_logo"><img src="/images/logo.png" border="0" /><div>&nbsp;RodziceNaCzasie<span>.pl</span></div></div></div>
    <div id="login_wrapper">


        <form class="well" name="login_form">
            <div class="login">ZALOGUJ</div>
            <div class="username-field"><input placeholder="Użytkownik" autocomplete="off" type="text" name="user" ng-model="user" id="username" required /></div>
            <div class="password-field"><input placeholder="Hasło" autocomplete="off" type="password" name="password" ng-model="password" id="password" required /></div>
            <div class="forgot-usr-pwd"><a href="#">Zapomniałeś hasła</a>?</div>
            <input class="login_submit" type="submit" name="submit" ng-click="processAuth()" value="Zaloguj" />
        </form>

<!--
  <form class="well">
    <h1>Zaloguj</h1>
    <input placeholder="Użytkownik" class="input_text" type="text" name="user" ng-model="user" id="username" required><br/>
    <input placeholder="Hasło" class="input_text" type="password" name="password" ng-model="password" id="password" required></br>
    <input type="submit" class="btn" ng-click="processAuth()" value="Zaloguj" />
  </form>
  <span class="label label-important" ng-show="showError">{{errorMsg}}</span>
-->

        <div id="register_wrapper" align="center">
            <p><span class="register question">NIE MASZ KONTA?</span><br/>
               <span class="register">ZAREJESTRUJ SIĘ</span><br/>
        	poprzez sieć społecznościową:
        	<br/>
        	<br/>
               <!-- <a ng-click="onGoogleLogin()"><img src="/images/Metro_Icons/Google_Services/Google_alt_46x46.png" title="Używając konta Google" border="0"></a> -->
               <a href="/auth/google" onClick="authGoogle()"><img src="/images/Metro_Icons/Google_Services/Google_alt_46x46.png" title="Używając konta Google" border="0"></a>
               &nbsp;&nbsp;&nbsp;
               <a href="/auth/facebook" onClick="authFacebook()"><img src="/images/Metro_Icons/Internet_Shortcuts/Facebook_alt_46x46.png" title="Używając konta Facebook" border="0"></a>
               <br/><br/>
               lub
               <br/><br/>
               <div id="register_form_link" onclick="$('#register_form_wrapper').slideDown();"><b class="font16 bold">Wypełnij formularz</b></div>
               </p>
        </div>

    </div>

    <div id="register_form_wrapper" style="display: none;">

        <form class="well" name="register_form">
            <div class="login">ZAREJESTRUJ</div>
            <div class="register-field"><input placeholder="Użytkownik" autocomplete="off" type="text" name="register_user" ng-model="register_user" id="register_username" required /></div>
            <div class="register-field"><input placeholder="Hasło" autocomplete="off" type="password" name="register_password" ng-model="register_password" id="register_password" required /></div>
            <div class="register-field"><input placeholder="Powtórz hasło" autocomplete="off" type="password" name="register_confirm_password" ng-model="register_confirm_password" id="register_confirm_password" required /></div>
            <div class="register-field margin_top48"><input placeholder="Imię" autocomplete="off" type="text" name="register_first_name" ng-model="register_first_name" id="register_first_name" required /></div>
            <div class="register-field"><input placeholder="Nazwisko" autocomplete="off" type="text" name="register_last_name" ng-model="register_last_name" id="register_last_name" required /></div>
            <div class="register-field"><input placeholder="Miasto" autocomplete="off" type="text" name="register_city" ng-model="register_city" id="register_city" required /></div>
            <input class="login_submit" type="submit" name="submit" ng-click="processRegister()" value="Zarejestruj" />
        </form>

    </div>



    <div id="login_page_content">
        <div id="login_page_content_title">
            <img src="/images/Metro_Icons/Other/Default_green_46x46.png" border="0" />
            <div>&nbsp;Dlaczego warto się zarejestrować?</div>
        </div>
        <div id="login_page_content_text">
            <span>Rejestrując się w serwisie RodziceNaCzasie.pl <br/>
                <ul>
                    <li> możesz w łatwy sposób uczestniczyć w życiu szkolnym Twojego dziecka,</li>
                    <li> utrzymujesz kontakt z Nauczycielami i innymi Rodzicami,</li>
                    <li> możesz planować wydarzenia, dyskutować oraz znaleźć informacje na temat szkolnych składek</li>
                </ul>
            </span>
        </div>
    </div>
    
</div>


<script language=”javascript” type=”text/javascript”>
function authGoogle() {
console.log("authGoogle...");
window.location.href="/auth/google";
}

function authFacebook() {
console.log("authFacebook...");
window.location.href="/auth/facebook";
}

</script>


