<div class="rncpg_body" ng-controller="AuthCtrl">
        

<div id="rncpg_topper">
    <div id="rncpg_login_form">
        <div class="rncpg_white_logo">
            <a href="http://rnc.rodzicenaczasie.pl/login"><img src="/images/rnc_logo_54x42.png" border="0" align="left" />
            <span id="rncpg_app_logo_big_text" class="rncpg_app_logo_top_part">Rodzice</span><br/>
            <span id="rncpg_app_logo_small_text" class="rncpg_app_logo_bottom_part">naCzasie.pl</span></a>
        </div>
        <form id="rncpg_log_in_form" name="login">
        <span class="rncpg_bolded">Masz konto?</span> <span>Zaloguj się:&nbsp;</span>
        <input type="text" class="rncpg_input_text" name="user" id="username" ng-model="user" placeholder="Email" tabindex="1" autocomplete="off" required oninvalid="this.setCustomValidity('Wprowadź poprawną nazwę użytkownika!')" />
        <input type="password" class="rncpg_input_text" name="password" ng-model="password" id="password" placeholder="Hasło" tabindex="2" autocomplete="off" required oninvalid="this.setCustomValidity('Wprowadź poprawne hasło!')" />
        <input type="submit" class="rncpg_button blue" name="rncpg_login_submit" id="rncpg_login_submit" tabindex="3" ng-click="processAuth()" value="Zaloguj" />
        </form>
        <a href="javascript:void(0);" class="rncpg_a rncpg_forgot_pass_link" onclick="showForgotPassForm()">Zapomniałeś hasła?</a>
        <form id="rncpg_forgot_pass_form" style="display: none;" ng-submit="requestNewPassword(formemailnewpass)">
            <input type="text" class="rncpg_input_text float_left" autocomplete="off" name="forgotpass" id="forgotpass" ng-model="formemailnewpass.email" placeholder="Podaj email użyty podczas rejestracji" required oninvalid="this.setCustomValidity('Wprowadź poprawny adres email!')" />
            <input type="submit" class="rncpg_button blue float_left" name="rncpg_forgotpass_submit" id="rncpg_forgotpass_submit" value="Przypomnij" />
        </form>
    </div>
    <div id="rncpg_menu_positions">
        <div class="rncpg_menu_position rncpg_menu_position_hover" id="rncpg_menu_position1" onclick="changeContent('home')">Strona główna</div>
        <div class="rncpg_menu_position" id="rncpg_menu_position2" onclick="changeContent('about_rnc')">O Aplikacji</div>
        <div class="rncpg_menu_position" id="rncpg_menu_position3" onclick="changeContent('terms')">Regulamin</div>
        <div class="rncpg_menu_position" id="rncpg_menu_position4" onclick="changeContent('mobile')">Mobile</div>
        <div class="rncpg_menu_position" id="rncpg_menu_position5" onclick="changeContent('contact')">Kontakt</div>
    </div>
</div>
<div id="rncpg_subtopper" ng-hide="use_cookies_confirm == '1'">
    <p align="center">
        <span class="bold">UWAGA! TA STRONA UŻYWA COOKIE</span>.<br/>Więcej informacji o używanych przez nas plikach cookie, ich zastosowaniu i sposobie modyfikacji akceptacji plików cookie, można znaleźć <a onclick="changeContent('cookie')" class="rncpg_a_register">tutaj</a>. Korzystając ze strony wyrażasz zgodę na używanie cookie, zgodnie z aktualnymi ustawieniami przeglądarki.
        <br/><a href="javascript:void(0);" ng-click="confirmCookies()" class="bold rncpg_a_register">Zamknij</a>
    </p>
</div>
     
<div class="rncpg_wrapper">
    
    <div class="rncpg_main_middle_content" id="rncpg_content_home">
        <div class="rncpg_main_header">
            <div class="rncpg_main_title">Zbyt dużo spraw dotyczących Twojego dziecka?</div>
            <div class="rncpg_main_title rncpg_main_title_right">Teraz możesz mieć wszystko pod kontrolą!</div>
        </div>
        <div id="rncpg_main_image">
            <img src="/images/Fotolia_30676296_XS.png" width="402" height="298" />
        </div>        
        <div id="rncpg_dotted_middle">
            <img src="/images/border_dotted.png" />
        </div>        
        <div id="rncpg_page_logo">
            <img src="/images/rnc_logo_120x92.png" align="left" />
            <div><span id="rncpg_logo_big_text" class="rncpg_logo_top_part">Rodzice</span>
            <span id="rncpg_logo_small_text" class="rncpg_logo_bottom_part">naCzasie.pl</span></div>
            <div id="rncpg_registration_form">
                <form ng-submit="completeRegistrationNewUser(formregisternewuser)" >
                    <span class="rncpg_registration_form_info rncpg_bolded">Nie masz konta?</span> <span class="rncpg_registration_form_info">Zarejestruj się:</span>
                    <div><input type="text" class="rncpg_input_registration" ng-model="formregisternewuser.first_name" placeholder="Imię" tabindex="5" autocomplete="off" required />&nbsp;
                         <input type="text" class="rncpg_input_registration" ng-model="formregisternewuser.last_name" placeholder="Nazwisko" tabindex="6" autocomplete="off" required /></div>
                    <div><input type="email" class="rncpg_input_registration rncpg_doubled" ng-model="formregisternewuser.email" placeholder="Email" tabindex="7" autocomplete="off" required /></div>
                    <div><input type="password" class="rncpg_input_registration" placeholder="Hasło 8-znakowe" ng-model="formregisternewuser.pass1" tabindex="8" autocomplete="off" required />&nbsp;
                         <input type="password" class="rncpg_input_registration" placeholder="Powtórz hasło" ng-model="formregisternewuser.pass2" tabindex="9" autocomplete="off" required /></div>
                    <div><br/><span class="rncpg_register_terms_info"><input type="checkbox" name="register_rules" ng-model="formregisternewuser.checked" required /> Rejestrując się musisz zaakceptować <a href="#" class="rncpg_a_register">Regulamin</a> serwisu.</span><br/>
                         <input type="submit" class="rncpg_button_bigger blue" name="rncpg_register_submit" id="rncpg_register_submit" tabindex="10" value="Zarejestruj" />
                         <a href="/auth/google" onClick="authGoogle()" class="social_login">
                             <img src="/images/Metro_Icons/Google_Services/Google_alt_46x46.png" title="Zaloguj przy pomocy Google+" border="0" width="32" align="right" />
                         </a>
                         <a href="/auth/facebook" onClick="authFacebook()" class="social_login">
                             <img src="/images/Metro_Icons/Internet_Shortcuts/Facebook_alt_46x46.png" title="Zaloguj przy pomocy Facebook" border="0" width="32" align="right" />
                         </a>
                         </div>
                </form>
            </div>
        </div>        
    </div>


    <div class="rncpg_main_middle_content" id="rncpg_content_about_rnc" style="display: none;">
            <div id="rncpg_box_about_1" class="rncpg_box_about rncpg_content_left_1"><p class="rncpg_box_about_left"><span class="rncpg_box_about_title"><b class="rncpg_box_about_1"></b>Aplikacja RodziceNaCzasie.pl</span><br/><br/><span class="rncpg_font_red">Czy</span> kiedykolwiek zabrakło Ci czasu na zebraniu klasowym, żeby spokojnie porozmawiać z nauczycielem na temat Twojego dziecka?<br/><span class="rncpg_font_red">Czy</span> zawsze wiesz o wszystkich wydarzeniach szkolnych i klasowych?<br><span class="rncpg_font_red">Czy</span> współpracujesz z nauczycielami i innymi rodzicami dla dobra Waszych dzieci?<br/><br/><span class="bold bigger">Czas to zmienić!</span>.<br/><br/></p></div>
            <div id="rncpg_box_about_2" class="rncpg_box_about rncpg_content_left_1"><p class="rncpg_box_about_left"><br/><span class="bold">Rodzice i Nauczyciele potrzebują platformy wspólnej komunikacji</span>, gdzie będą mogli przedyskutować każdy pomysł związany z edukacją Waszych dzieci. Potrzebują miejsca, gdzie można tworzyć i głosować w ankietach dotyczących działań klasowych i gdzie można łatwo planować wydarzenia szkolne i klasowe.<br/><br/>Miejsca takie jak <span class="bold bigger">RodziceNaCzasie.pl</span><br/><br/>Już nie musisz zapamiętywać wszystkich kontaktów do Rodziców z klas Twojego dziecka. Nie musisz się obawiać, że nie zostaniesz powiadomiony o ważnym klasowym wydarzeniu. Nie musisz pamiętać o zmianach w planie lekcji swojego dziecka. <br/><br/><span class="bold bigger">Serwis RodziceNaCzasie.pl dba o to za Ciebie</span>.<br/><br/> </p></div>
            <div id="rncpg_box_about_4" class="rncpg_box_about rncpg_content_left_1"><p class="rncpg_box_about_left"><br/>Zarejestrowałeś się w aplikacji <span class="bold">RodziceNaCzasie.pl</span>? Podoba Ci się? Nie podoba Ci się? Masz jakieś sugestie lub chciałbyś zgłosić błędy?<br/><br/><a class="bold" onclick="changeContent('contact')"><span class="font_darkblue">Napisz do nas o tym</span></a>. Chcemy rozwijać się tak, aby zapewnić przyjemność z użytkowania nawet najbardziej wymagającym Rodzicom i Nauczycielom.</p></div>
    </div>

 
    <div class="rncpg_main_middle_content" id="rncpg_content_cantlogin" style="display: none;">
        <div class="rncpg_main_header_contact">
            <div class="rncpg_main_title_full">Dlaczego nie mogę się zalogować?</div>
            <div class="rncpg_main_subtitle_full">
                <br/><br/>
                <span class="bold">RodziceNaCzasie.pl</span> to aplikacja korzystająca z najnowszych technologii w przeglądarkach internetowych. Wykryliśmy, że używasz starszej wersji przeglądarki lub korzystasz z takiej, która nie obsługuje wszystkich możliwości serwisu.<br/><br/>
                Aby móc korzystać z serwisu <span class="bold">RodziceNaCzasie.pl</span>, rekomendujemy następujące przeglądarki:<br/><br/><br/>
                <p align="center">
                    <a href="http://www.mozilla.org"><img src="/images/ff_logo.png" height="40" border="0" title="Mozilla Firefox"></a>
                    &nbsp;&nbsp;&nbsp;
                    <a href="https://www.google.com/chrome/index.html"><img src="/images/chrome_logo_2x.png" height="40"  border="0" title="Goole Chrome"></a>
                </p>
            </div>
        </div>
    </div>
    

    <div class="rncpg_main_middle_content" id="rncpg_content_contact" style="display: none;">
        <form name="rncpg_open_contact">
        <div class="rncpg_main_header_contact">
            <div class="rncpg_main_title_full">Masz sugestię? Chcesz o coś spytać? Napisz do nas!</div>
            <div class="rncpg_main_subtitle_full">Weźmiemy pod uwagę wszystkie zgłoszenia i sugestie.</div>
        </div>
        <div class="rncpg_content_left">
            <textarea class="rncpg_contact_textarea" ng-model="contact_context" placeholder="Wpisz treść zgłoszenia"></textarea>
        </div>        
        <div class="rncpg_dotted_border">
            <img src="/images/border_dotted.png" />
        </div>        
        <div class="rncpg_content_right">
            <input type="submit" class="rncpg_button_bigger blue" name="rncpg_contact_submit" id="rncpg_contact_submit" value="Wyślij" ng-click="contactSend()" /><br/>
            <br/><br/><br/><br/>
            <div class="rncpg_white_logo_contact">Lub wyślij do nas e-mail:<br/><br/><br/>
                <a href="http://rnc.rodzicenaczasie.pl"><img src="/images/rnc_logo_54x42.png" border="0" align="left" /></a>
                <span id="rncpg_app_logo_big_text_contact" class="rncpg_app_logo_top_part">Rodzice</span><br/>
                <span id="rncpg_app_logo_small_text_contact" class="rncpg_app_logo_bottom_part">naCzasie.pl</span>
            </div>
            <div>
                kontakt@rodzicenaczasie.pl
            </div>
        </div>        
        </form>
    </div>


    <div class="rncpg_main_middle_content" id="rncpg_content_cookies" style="display: none;">
        <div class="rncpg_main_header_contact">
            <div class="rncpg_main_title_full">Dowiedz się więcej o stosowaniu cookie przez <span class="bold">RodziceNaCzasie.pl</span></div>
        </div>
        <p class="rncpg_p_title">Co to jest plik „Cookie”?</p>
        <p>"Cookies" (Ciasteczka) są to pojedyncze, małe pliki tekstowe, wysyłane przez odwiedzane strony internetowe i pobierane na komputerze użytkownika. Informacje zawarte w tych plikach pozwalają na odczytanie informacji w nich zawartych jedynie przez stronę, która je utworzyła. Tym samym strona internetowa nie może mieć dostępu do innych plików znajdujących się na komputerze użytkownika.
        <p class="rncpg_p_title">W jakim celu aplikacja RodziceNaCzasie.pl korzysta z plików cookie?</p>
        <p>Pliki "cookie" umożliwiają odpowiednią personalizację wyświetlanych na stronie informacji i zaprezentowanie treści dostosowanej do potrzeb użytkownika, a także mierzenie interakcji użytkowników na stronach internetowych. Stosujemy Ciasteczka w celu dostosowywania i poprawiania sposobu działania witryny, pozwalają one dodatkowo badać upodobania użytkowników.</p>
        <p class="rncpg_p_title">Przykłady wykorzystania plików cookies w serwisie RodziceNaCzasie.pl:</p>
        <ul>
            <li class="rncpg_li">mierzenie ruchu użytkownika na stronach za pomocą kodu Google Analytics  - więcej informacji o plikach cookies w Google Analytics można znaleźć na stronie: <a href="http://www.google.pl/intl/pl/analytics/privacyoverview.html" class="rncpg_a_register" target="_blank">http://www.google.pl/intl/pl/analytics/privacyoverview.html</a></li>
            <li class="rncpg_li">zapamiętywanie braku zgody na wyświetlanie w przyszłości niektórych treści,</li>
            <li class="rncpg_li">mierzenie skuteczności prowadzonych akcji i konkursów</li>
        </ul>
        </p>
        <p class="rncpg_p_title">Więcej na temat obsługi cookie w przeglądarkach:</p>
        <p>
            <a class="rncpg_a_register" target="_blank" href="http://support.mozilla.org/pl/kb/W%C5%82%C4%85czanie%20i%20wy%C5%82%C4%85czanie%20obs%C5%82ugi%20ciasteczek">Dla przeglądarki Firefox</a><br/>
            <a class="rncpg_a_register" target="_blank" href="http://support.google.com/chrome/bin/answer.py?hl=pl&answer=95647">Dla przeglądarki Google Chrome</a><br/>
            <a class="rncpg_a_register" target="_blank" href="http://windows.microsoft.com/pl-PL/windows7/How-to-manage-cookies-in-Internet-Explorer-9">Dla przeglądarki Internet Explorer</a>
        </p>
    </div>



    <div id="rncpg_content_mobile" style="display: none;">
        <div class="rncpg_page_logo">
        <a href="http://rnc.rodzicenaczasie.pl"><img src="/images/rnc_logo_120x92.png" align="left" /></a>
        <div><span id="rncpg_logo_big_text" class="rncpg_logo_top_part">Rodzice</span>
        <span id="rncpg_logo_small_text" class="rncpg_logo_bottom_part">naCzasie.pl</span></div>
        </div>    
        <br class="clear" />
        <div class="rncpg_content_mobile_inside">
            Wersja mobilna aplikacji już wkrótce!<br/><br/>Tymczasem prosimy o korzystanie <br/>z komputerów o rozdzielczości <br/>co najmniej <span class="bold">1024x768 px</span>
        </div>
        <br class="clear" />
        <div class="rncpg_content_mobile_inside_violet">
            <span class="rncpg_content_mobile_title">O aplikacji</span><br/><br/>
            <p><span class="rncpg_box_about_title"><b class="rncpg_box_about_1">1.</b>&nbsp;Idea</span><br/><span class="rncpg_font_red">Czy</span> kiedykolwiek zabrakło Ci czasu na zebraniu klasowym, żeby spokojnie porozmawiać z nauczycielem na temat Twojego dziecka?<br/><span class="rncpg_font_red">Czy</span> zawsze wiesz o wszystkich wydarzeniach szkolnych i klasowych?<br><span class="rncpg_font_red">Czy</span> współpracujesz z nauczycielami i innymi rodzicami dla dobra Waszych dzieci?<br/><br/><span class="bold">Czas to zmienić!</span>.<br/><br/></p>
            <p><span class="rncpg_box_about_title"><b class="rncpg_box_about_2">2.</b>&nbsp;Analiza</span><br/><span class="bold">Rodzice i Nauczyciele potrzebują platformy wspólnej komunikacji</span>, gdzie będą mogli przedyskutować każdy pomysł związany z edukacją Waszych dzieci. Potrzebują miejsca, gdzie można tworzyć i głosować w ankietach dotyczących działań klasowych i gdzie można łatwo planować wydarzenia szkolne i klasowe.<br/><br/>Miejsca takie jak <span class="bold">RodziceNaCzasie.pl</span><br/><br/></p>
            <p><span class="rncpg_box_about_title"><b class="rncpg_box_about_3">3.</b>&nbsp;Projekt</span><br/>Już nie musisz zapamiętywać wszystkich kontaktów do Rodziców z klas Twojego dziecka. Nie musisz się obawiać, że nie zostaniesz powiadomiony o ważnym klasowym wydarzeniu. Nie musisz pamiętać o zmianach w planie lekcji swojego dziecka. <br/><br/><span class="bold">Serwis RodziceNaCzasie.pl dba o to za Ciebie</span>. <br/><br/></p>
            <p><span class="rncpg_box_about_title"><b class="rncpg_box_about_4">4.</b>&nbsp;Rozwój</span><br/>Zarejestrowałeś się w aplikacji <span class="bold">RodziceNaCzasie.pl</span>? Podoba Ci się? Nie podoba Ci się? Masz jakieś sugestie lub chciałbyś zgłosić błędy?<br/><br/><a class="bold" onclick="changeContent('contact')"><span class="font_darkblue">Napisz do nas o tym</span></a>. Chcemy rozwijać się tak, aby zapewnić przyjemność z użytkowania nawet najbardziej wymagającym Rodzicom i Nauczycielom.<br/><br/></p>
        </div>
    </div>

</div>

<div class="rncpg_what_to_do" id="rncpg_to_do1" style="display: none;">Zrobić zakupy<br>na wycieczkę klasową&nbsp;<img src="/images/arrows__leftdownrightup_b.png" align="right" style="position: relative; top: -32px;" /></div>
<div class="rncpg_what_to_do" id="rncpg_to_do2" style="display: none;"><img src="/images/arrows__rightupleftdown_b.png" align="left" />&nbsp;Zebranie klasowe</div>
<div class="rncpg_what_to_do" id="rncpg_to_do3" style="display: none;"><img src="/images/arrows__rightdownleftup_b.png" align="left" style="position: relative; top: -44px;" />Wysłać zdjęcia<br>do wszystkich rodziców</div>
<div class="rncpg_what_to_do" id="rncpg_to_do4" style="display: none;">Spotkanie<br>z nauczycielem<img src="/images/arrows__leftuprightdown_b.png" align="right" style="position: relative; top: -12px;" /></div>
<div class="rncpg_what_to_do" id="rncpg_to_do5" style="display: none;">Wypożyczyć strój<br>na bal przebierańców&nbsp;<img src="/images/arrows__leftuprightdown_b.png" align="right" /></div>
        


<div id="rncpg_footer">
    
</div>


</div>


<script type="text/javascript">
$(document).ready(function() {
    //console.log($(window).width());
    if($(window).width() < 1000) {
        changeContent('mobile');
    }
    else
        fitPageContent();
});
$(window).resize(function() {
    if($(window).width() < 1000) {
        changeContent('mobile');
    }
    else
        fitPageContent();
});


function fitPageContent() {
    var screen_height = $(window).height();
    var screen_width = $(window).width();
    
    $(".rncpg_body").css('width', '100%');
    $(".rncpg_body").css('height', '100%');
    //$("#containers").hide();

    if($("#rncpg_content_home").css('display') != 'none') {
        var pos = $("#rncpg_main_image").position();
        if(pos !== undefined) {
            $("#rncpg_to_do1").css('position', 'absolute');    
            $("#rncpg_to_do1").css('top', pos['top'] + 300 + 'px');    
            $("#rncpg_to_do1").css('left', pos['left'] + 'px');    
            $("#rncpg_to_do1").show();        
    
            $("#rncpg_to_do2").css('position', 'absolute');    
            $("#rncpg_to_do2").css('top', pos['top'] - 26 + 'px');    
            $("#rncpg_to_do2").css('left', pos['left'] + 260 + 'px');    
            $("#rncpg_to_do2").show();    
    
            $("#rncpg_to_do3").css('position', 'absolute');    
            $("#rncpg_to_do3").css('top', pos['top'] + 276 + 'px');    
            $("#rncpg_to_do3").css('left', pos['left'] + 260 + 'px');    
            $("#rncpg_to_do3").show();    
    
            $("#rncpg_to_do4").css('position', 'absolute');    
            $("#rncpg_to_do4").css('top', pos['top'] + 120 + 'px');    
            $("#rncpg_to_do4").css('left', pos['left'] - 72 + 'px');    
            $("#rncpg_to_do4").show();    
    
            $("#rncpg_to_do5").css('position', 'absolute');    
            $("#rncpg_to_do5").css('top', pos['top'] - 40 + 'px');    
            $("#rncpg_to_do5").css('left', pos['left'] - 60 + 'px');    
            $("#rncpg_to_do5").show();    
        }
    }


    if($.browser.webkit) {
        $("#rncpg_forgotpass_submit").css('margin-top', '1px');
        $("#forgotpass").css('margin-left', '137px');
        $("#rncpg_menu_positions").css("margin-top", "2px");
    }

}


function fitAboutContent() {
    var pos = $("#rncpg_content_about_rnc").position();
    console.log(pos);
}


function showForgotPassForm() {
    /*$("#rncpg_topper").animate({
        height: 92
    }, "fast", function() {
        $("#rncpg_forgot_pass_form").fadeIn();
    });*/
    $("#rncpg_forgot_pass_form").fadeIn();
}


function authGoogle() {
    console.log("authGoogle...");
    window.location.href="/auth/google";
}


function authFacebook() {
    console.log("authFacebook...");
    window.location.href="/auth/facebook";
}


function changeContent(content) {
    $(".rncpg_menu_position").each(function() {
        $(this).removeClass('rncpg_menu_position_hover');
    });

    if(content == "home") {
        $("#rncpg_topper").show();
        $("#rncpg_footer").show();

        $("#rncpg_content_contact").hide();
        $("#rncpg_content_about_rnc").hide();
        $("#rncpg_content_home").show();
        $("#rncpg_content_mobile").hide();
       $("#rncpg_content_cookies").hide();
         $("#rncpg_content_cantlogin").hide();
        $(".rncpg_what_to_do").show();

        $("#rncpg_menu_position1").addClass('rncpg_menu_position_hover');

    }
    if(content == "about_rnc") {
        $("#rncpg_topper").show();
        $("#rncpg_footer").show();

        $("#rncpg_content_contact").hide();
        $("#rncpg_content_home").hide();
        $(".rncpg_what_to_do").hide();
        $("#rncpg_content_mobile").hide();
        $("#rncpg_content_cantlogin").hide();
        $("#rncpg_content_about_rnc").show();
        fitAboutContent();
        $("#rncpg_menu_position2").addClass('rncpg_menu_position_hover');
    }
    if(content == "contact") {
        $("#rncpg_topper").show();
        $("#rncpg_footer").show();
        
        $("#rncpg_content_home").hide();
        $("#rncpg_content_about_rnc").hide();
        $(".rncpg_what_to_do").hide();
        $("#rncpg_content_mobile").hide();
        $("#rncpg_content_cantlogin").hide();
        $("#rncpg_content_contact").show();
        $("#rncpg_menu_position5").addClass('rncpg_menu_position_hover');
    }
    if(content == "cookie") {
        $("#rncpg_topper").show();
        $("#rncpg_footer").show();
        
        $("#rncpg_content_home").hide();
        $("#rncpg_content_about_rnc").hide();
        $(".rncpg_what_to_do").hide();
        $("#rncpg_content_mobile").hide();
        $("#rncpg_content_cantlogin").hide();
        $("#rncpg_content_contact").hide();
        $("#rncpg_content_cookies").show();
    }
    if(content == "cantlogin") {
        $("#rncpg_topper").show();
        $("#rncpg_footer").show();
        
        $("#rncpg_content_home").hide();
        $("#rncpg_content_about_rnc").hide();
        $(".rncpg_what_to_do").hide();
        $("#rncpg_content_mobile").hide();
        $("#rncpg_content_contact").hide();
        $("#rncpg_content_cookies").hide();
        $("#rncpg_content_cantlogin").show();
    }
    if(content == "mobile") {
        $("#rncpg_topper").hide();
        $("#rncpg_footer").hide();
        
        $("#rncpg_content_home").hide();
        $("#rncpg_content_about_rnc").hide();
        $(".rncpg_what_to_do").hide();
        $("#rncpg_content_contact").hide();
        $("#rncpg_content_cantlogin").hide();
        $("#rncpg_content_cookies").hide();
        $("#rncpg_content_mobile").show();
        $("#rncpg_menu_position4").addClass('rncpg_menu_position_hover');
    }
    
}


//        $('#rncpg_login_submit').clone().attr('type','button').insertAfter('#rncpg_login_submit').prev().remove();
//        //$("#rncpg_login_submit").attr("type", "button");
//        $("#rncpg_login_submit").removeAttr("ng-click");
//        $("#rncpg_login_submit").bind("click", function() {
//            changeContent("cantlogin");
//        });

</script>

