<p>
Witaj, {{first_name}}!
</p>

{{email}}
<p>
Niniejsza wiadomość zawiera link aktywacyjny do serwisu RodziceNaCzasie.pl.
</p>
<p>
Kliknij na poniższym linku w celu aktywowania konta w serwisie RodziceNaCzasie.pl:
<br><a href="{{reg_url}}">{{reg_url}}</a>
</p>
<p>
Jeżeli nie możesz kliknąć na link, skopiuj go i wprowadź w polu adresowym przeglądarki a następnie zatwierdź adres.
</p>
<p>
Dalej postępuj zgodnie z tym co będzie pdoane na otwartej stronie.
</p>

<br>
<p>
Pozdrawiamy,<br>
<i>Zespół serwisu RodziceNaCzasie.pl</i>
</p>
<br>
<p><small>
Niniejsza wiadomość została wygenerowana automatycznie. Prosimy na nią nie odpowiadać.
</small></p>