<p>
Witaj, {{first_name}}!
</p>

{{email}}
<p>
Niniejsza wiadomość zawiera link umożliwiający ustawienie nowego hasła serwisu RodziceNaCzasie.pl,
<br>dla użytkownika zarejestrowanego z adresem email: {{adremail}}.
<br>Jeżeli nie jesteś właścicielem tego adresu email lub wiadomość nie jest skierowana do Ciebie - skasuj tą wiadomość.
</p>
<p>
Kliknij na poniższym linku w celu ustawienia nowego hasła w serwisie RodziceNaCzasie.pl:
<br><a href="{{reg_url}}">{{reg_url}}</a>
<br><small>Podany link jest aktywny do: {{link_end_dt}}.</small>
</p>
<p>
Jeżeli nie możesz kliknąć na link, skopiuj go i wprowadź w polu adresowym przeglądarki a następnie zatwierdź adres.
</p>
<p>
Dalej postępuj zgodnie z tym, co będzie podane na otwartej stronie.
</p>

<br>
<p>
Pozdrawiamy,<br>
<i>Zespół serwisu <a href="http://rnc.rodzicenaczasie.pl">RodziceNaCzasie.pl</a></i>
</p>
<br>
<p><small>
Niniejsza wiadomość została wygenerowana automatycznie. Prosimy na nią nie odpowiadać.
<br>
<br>
Wysłano: {{dt}}
</small></p>